* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Averta Std";
    src: url("../font/avertastd-bold.ttf");
    font-weight: 400;
}

@media (min-width: 750px) {
    html {
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 750px) {
    html {
        max-width: none;
        margin: 0;
    }
}

a {
    text-decoration: none;
    color: #000;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #1e2020;
    font-family: Averta Std;
    font-size: 0.14rem;
    /* 14px */
    color: #000;
    margin: 0;
    padding: 0;
}

.bcpokerFooter {
    margin-top: 0.6rem;
    /* 60px */
    padding: 0.6rem 0.15rem;
    /* 60px 15px */
    background-image: url(../images/footertop.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
}

.bcpokerFooter .logo img {
    width: 1.66rem;
    /* 166px */
}

.bcpokerFooter a img {
    width: 0.48rem;
    /* 48px */
    height: 0.48rem;
    /* 48px */
}

.bcpokerFooter .followusContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.18rem;
    /* 18px */
}

.bcpokerFooter .followusContainer .title {
    font-size: 0.18rem;
    /* 18px */
    color: white;
}

.bcpokerFooter .followusContainer .followusContent {
    display: flex;
    gap: 0.16rem;
    /* 16px */
}

.bcpokerFooter .copyright {
    position: absolute;
    width: 100%;
    height: 0.3rem;
    /* 30px */
    line-height: 0.3rem;
    /* 30px */
    text-align: center;
    font-size: 0.14rem;
    /* 14px */
    color: #000;
    left: 0;
    bottom: 0;
    background-color: #23EE88;
}
